#personal system python version 3.9.7
pymssql
altair==4.1.0  #extra for stream lit
#vega-lite  #extra for stream lit
numpy   #extra for stream lit
langchain
streamlit
openai
sqlalchemy
python-dotenv
langchain_experimental
psycopg2-binary
pyodbc
huggingface_hub